USE [master]
GO
/****** Object:  Database [TestJava]    Script Date: 1.9.2024. 0:01:04 ******/
CREATE DATABASE [TestJava]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestJava', FILENAME = N'D:\SQL2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\TestJava.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestJava_log', FILENAME = N'D:\SQL2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\TestJava_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestJava].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestJava]
GO
/****** Object:  User [Ivan]    Script Date: 1.9.2024. 0:01:04 ******/
CREATE USER [Ivan] FOR LOGIN [Ivan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[_user]    Script Date: 1.9.2024. 0:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_user](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[username] [varchar](255) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[type] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 1.9.2024. 0:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers_roles]    Script Date: 1.9.2024. 0:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers_roles](
	[customer_id] [int] NOT NULL,
	[role] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC,
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 1.9.2024. 0:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_date] [datetime2](6) NOT NULL,
	[invoice_userid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 1.9.2024. 0:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_description] [varchar](255) NULL,
	[product_price] [numeric](38, 2) NOT NULL,
	[product_name] [varchar](255) NOT NULL,
	[product_categoryid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customers_roles]  WITH CHECK ADD  CONSTRAINT [FKpnyi9862dipbrcdyhmcf4o949] FOREIGN KEY([customer_id])
REFERENCES [dbo].[_user] ([userid])
GO
ALTER TABLE [dbo].[customers_roles] CHECK CONSTRAINT [FKpnyi9862dipbrcdyhmcf4o949]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FKh2etfjq4rfjrs3oc9jo7974sk] FOREIGN KEY([invoice_userid])
REFERENCES [dbo].[_user] ([userid])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FKh2etfjq4rfjrs3oc9jo7974sk]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK63g2jyvufwkbugh8p95g0ybmp] FOREIGN KEY([product_categoryid])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK63g2jyvufwkbugh8p95g0ybmp]
GO
ALTER TABLE [dbo].[customers_roles]  WITH CHECK ADD CHECK  (([role]='ROLE_ADMIN' OR [role]='ROLE_USER'))
GO
USE [master]
GO
